database:
  username: "erick"
  password: "123password"
  host: "localhost"
  port: 5432
  databaseName: "firescore"
jwtSecret: "You have no power here, Gandalf the Grey!"
masterUser: donvito
masterPassword: corleone
